.navbar-brand { 
    font-size: 20px;
    font-family: 'futura';
}
.custom-margins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-left: 40px;
    font-family: 'futura';
    font-size: 20px;
}

.responsive {
    font-family: 'futura';
    font-size: 20px;
    text-align: center;
}