.navbar-brand { 
    font-size: 20px;
    font-family: 'sofia pro bolder';
    font-weight: bold;
    line-height: 28px;
    tab-size: 4;
    word-spacing: 1px;
    color:rgb(0, 98, 255);
    display: inline;
}
.custom-margins {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-item {
    margin-left: 40px;
    font-family: 'sofia pro';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: rgb(91, 110, 128);
}


.responsive {
    font-family: 'sofia pro';
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: rgb(91, 110, 128);
}

.navbar-nav .nav-item a.nav-link:hover, 
.navbar-nav .nav-item a.nav-link.active
{
  color: rgb(0, 98, 225) ; /* Change this to the desired color for the active route */
}

.navbar-nav .responsive a.nav-link:hover ,
.navbar-nav .responsive a.nav-link.active
{
  color: rgb(0, 98, 225) ; /* Change this to the desired color for the active route */
}
.dark-mode .navbar-brand {
  color:#198754
}

.dark-mode .navbar-nav .nav-item a.nav-link:hover,
.dark-mode .navbar-nav .nav-item a.nav-link.active {
  color:#198754
}
.dark-mode .navbar-nav .responsive a.nav-link:hover,
.dark-mode .navbar-nav .responsive a.nav-link.active {
  color:#198754
}


