<div class="border-t-2 border-slate-200 h-[1800px]" [ngClass]="getCapabilitiesStyle()">
    <p class="mt-20 text-center capabilities">Capabilities</p>
    <div class="flex justify-center items-center mt-20">
        <img class="max-w-28" src="./assets/emoji2.png" alt="emoji" >
    </div>
        <p class="text-center mt-2 dev"> Development</p>
        <p class="text-center mt-3 capability">Front-end development</p>
        <p class="text-center capability">Back-end development</p>
        <p class="text-center capability">Responsive & mobile websites</p>
        <p class="text-center capability">Mobile apps</p>
        <p class="text-center capability">Animation</p>
    <div class="border-t-2 border-slate-200 mt-20">
        <p class="text-center mt-20 capabilities">Skills & tools</p>
    </div>
</div>