
<app-navbar></app-navbar>
<div id="Home" appSmoothScroll [targetComponentId]="'Home'" [targetRoute]="'/Home'"><app-home></app-home></div>
<div id="Projects" appSmoothScroll [targetComponentId]="'Projects'" [targetRoute]="'/Projects'"><app-projects></app-projects></div>
<div id="Capability" appSmoothScroll [targetComponentId]="'Capability'" [targetRoute]="'/Capability'"><app-capability></app-capability></div>
<div id="Contact" appSmoothScroll [targetComponentId]="'Contact'" [targetRoute]="'/Contact'"><app-contact></app-contact></div>

