/* You can add global styles to this file, and also import other style files */

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.dark-mode {
    background-color: #3f4344;
    color: #fdfdfd;
}

body.light-mode {
    background-color: rgb(255,255,255);
    color: #3f4344;
}
body , html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'sofia pro';
    src: url(./media/sofiapro-light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia pro bolder';
    src:url(./media/Sofia\ Pro\ Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;